<!doctype html>
<html lang="en">
  {% block head %}
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Template · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- My style CSS -->
    <link rel="stylesheet" href="../static/css/mycss.css"> 
  </head>
  {% endblock %}

  {% block container %}
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

        <div class="bg-dark p-3">
          <h5 class="text-white h4">Github</h5>
          <span class="text-muted">Codigo de la pagina.</span>
          <hr>
          <a class="" href="https://github.com/Luisarg03/Flask_Covid_DataWeb.git"><img src="../static/logos/github-brands.svg" width="25%" alt=""></a>
        </div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('.index')}}"><h4>Inicio</h4><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('.rank')}}"><h4>Rank</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('.arg')}}" tabindex="-1" aria-disabled="true"><h4>Argentina</h4></a>
          </li>
        </ul>
      </div>
      
      <div class="text-center">
        <h1 class="h2">Covid-19</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group ">
            <a class="" href="{{url_for('.export')}}">
            <button type="button" class="btn btn-sm btn-outline-secondary">
             Export Data Covid-19
            </button>
          </a>
          </div>
        </div>
        </div>
    </nav>

    <div class="container text-center">
     
          {% block content %}
          {% endblock %}
            
    </div>

      <script src="../static/js/jquery-3.5.1.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>

  </body>

  {% endblock %}  
</html>