{% extends "layout.html" %}
<html lang="en">
    {% block content %}
    
            <img src="../static/img/top10.png" class="mx-auto d-block" alt="" width="100%">
       
            <div class="table-responsive mt-4">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Pais</th>
                            <th scope="col">Casos</th>
                            <th scope="col">Muertes</th>
                            <th scope="col">Recuperados</th>
                            <th scope="col">Rate muerte</th>
                            <th scope="col">Rate recuperación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in tables %}
                        <tr>
                        {% for value in row %}
                        <td scope="row">{{ value }}</td>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

    {% endblock %}
</html>