<!--Heredo de bootstrap su archivo base-->
{% extends 'bootstrap/base.html' %} 

{% block title %}
    Error 404
{% endblock %}

{% block content %}
    <div class="container text-center d-flex align-items-center">
        <div class="row">

            <div class="col mt-5 p-5">
                <img style="width: 65%" src="{{ url_for('static', filename='img/polar.png') }}">
            </div>

            <div class="col mt-5">
                <h2 style="font-size: 300%" class="font-weight-bold text-primary">Error 404</h2>
                <h3 class="font-weight-bold text-primary">Pagina no encontrada</h3>
            </div>

        </div>
    </div>

{% endblock %}